//colors
$clr-softRed: hsl(10, 79%, 65%);
$clr-cyan: hsl(186, 34%, 60%);
$clr-darkBrown: hsl(25, 47%, 15%);
$clr-mediumBrown: hsl(28, 10%, 53%);
$clr-cream: hsl(27, 66%, 92%);
$clr-veryPaleOrange: hsl(33, 100%, 98%);

//typography
$fs-body: 18px;

$ff-primary: 'DM Sans', sans-serif;

$fw-400: 400;
$fw-700: 700;